/* CSS Variable Section */

/* TODO: Find 'normal' colorscheme for everything here. Dropdown, btn everything */

/* END OF CSS VARIABLE SECTION */

/* Universal Classes */

.standalone-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* END of Universal Classes */

/* Button Classes */

.btn {
  white-space: nowrap;
  background-color: white;
  cursor: pointer;
  padding: .5rem .75rem;
  margin: 2px;
  color: white;
  border: .1rem solid transparent;
  border-radius: .25rem;
}

.btn-s {
  padding: .25rem .5rem;
  font-size: .65rem;
  line-height .5;
  border-radius: .3rem;
}
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height 1.5;
  border-radius: .3rem;
}

.btn-default {
  background-color: #6C6C6C;
}

.btn-action {
  background-color: #0056B3;
}

.btn-danger {
  background-color: #D32F2F;
}

.btn-safe {
  background-color: #218838;
}

.btn-info {
  background-color: #007BFF;
}

.btn-outline-default {
  color: #6C6C6C;
  border: .1rem solid #6C6C6C;
}

.btn-outline-action {
  color: #0056B3;
  border: .1rem solid #0056B3;
}

.btn-outline-danger {
  color: #D32F2F;
  border: .1rem solid #D32F2F;
}

.btn-outline-safe {
  color: #218838;
  border: .1rem solid #218838;
}

.btn-outline-info {
  color: #007BFF;
  border: .1rem solid #007BFF;
}

/* Dropdown Classes using ordered/unordered lists and items as the dropdown-content */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  margin: 0px;
  list-style: none;
  display: none;
  position: absolute;
  min-width: 120px;
  padding: 12px 8px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown events */

.dropdown:hover .dropdown-btn { background-color: #F9F9F9; }

.dropdown-content li:hover { background-color: #F9F9F9; }

.dropdown:hover .dropdown-content { display: block; }

/* End of Dropdown Classes */

/* Margin Classes */

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

/* Padding Classes */

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

/* Floating Classes */
.pull-left {
  float: left;
}

.clear-float {
  clear: both;
}
