/* CSS Variable Section */

/* TODO: Find 'normal' colorscheme for everything here. Dropdown, btn everything */

/* END OF CSS VARIABLE SECTION */

/* Universal Classes */
.border {
  border: solid;
}

.border-box {
  box-sizing: border-box;
  padding: 20px;
}

.standalone-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* END of Universal Classes */


/* Accordion Classes */

.accordion {
  text-decoration: none;
  background-color: #DDD;
  padding: .75rem 0 .75rem 0;
  border: 1px solid #AAA;
  border-radius: .25rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.accordion[open] {
  padding: .75rem 0 0 0;
}

.accordion-panel {
  font-weight: normal;
  padding: .5rem;
  background-color: #EEE;
  border: 1px solid #BBB;
  font-size: 1rem;
}

/* END of Accordion Classes */

/* Begin of Modal Classes */

.modal {
  width: 40vw;
  max-height: 70vh;
  position: fixed;
  padding 2rem;
  z-index: 100;
  top: 50%;
  left: 50%;
  border: 1px solid #000;
  box-shadow: 0px 10px 8px #000;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms ease-out,
        opacity 250ms ease-out;
}

#css-modal:target {
  transform: translate(-50%, -50%) scale(1);
}

.modal-lg {
  width: 70vw;
  max-height: 80vh;
}

.modal-header {
  position: relative;
  padding: 1.25em 1em;
  background-color: #E9E9E9;
  border-bottom: 1px solid #000;
}

.modal-header > h3 { /* h3 is the most common can edit this to be whatever */
  margin: 0;
}

.modal-window {
  position: relative;
  background-color: white;
  padding: .5em 1em;
  max-height: 40vh; overflow-y: auto;
}

.modal-footer {
  position: relative;
  background-color: #E9E9E9;
  padding: 2em 1em;
  border-top: 1px solid #000;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* End of Modal Classes */

/* Progress Bar */

.progress-bar {
  width: 500px;
  height: 40px;
  display: inline-block;
  border-radius: 2rem;
  border: 1px solid #000;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.progress-bar-blue-purple {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #4A90E2 0%, #9013FE 100%);
}

.progress-bar-timelasp {
  animation-name: timelapse;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.86, .05, .4, .96);
}

@keyframes timelapse {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* End of Progress Bar */

/* Badge Classes */

.badge-notification {
  background-color: white;
  margin: 2px;
  padding: 0px 2px;
  color: black;
  border-radius: .25rem;
}

.badge {
  display: inline-block;
  padding: .25rem .4rem;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
}

.badge-pill {
  display: inline-block;
  padding: .25rem .4rem;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
}

.badge-default {
  background-color: #6C6C6C;
  color: white;
}

.badge-action {
  background-color: #0056B3;
  color: white;
}

.badge-danger {
  background-color: #D32F2F;
  color: white;
}

.badge-safe {
  background-color: #218838;
  color: white;
}

.badge-info {
  background-color: #007BFF;
  color: white;
}

/* End of Badge Classes */


/* Button Classes */

.btn {
  white-space: nowrap;
  background-color: white;
  cursor: pointer;
  padding: .5rem .75rem;
  margin: 2px;
  color: white;
  border: .1rem solid transparent;
  border-radius: .25rem;
}

.btn-s {
  padding: .25rem .5rem;
  font-size: .65rem;
  line-height .5;
  border-radius: .3rem;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height 1.5;
  border-radius: .3rem;
}

.btn-default {
  background-color: #6C6C6C;
}

.btn-action {
  background-color: #0056B3;
}

.btn-danger {
  background-color: #D32F2F;
}

.btn-safe {
  background-color: #218838;
}

.btn-info {
  background-color: #007BFF;
}

.btn-outline-default {
  color: #6C6C6C;
  border: .1rem solid #6C6C6C;
}

.btn-outline-action {
  color: #0056B3;
  border: .1rem solid #0056B3;
}

.btn-outline-danger {
  color: #D32F2F;
  border: .1rem solid #D32F2F;
}

.btn-outline-safe {
  color: #218838;
  border: .1rem solid #218838;
}

.btn-outline-info {
  color: #007BFF;
  border: .1rem solid #007BFF;
}

/* Dropdown Classes using ordered/unordered lists and items as the dropdown-content */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  margin: 0px;
  list-style: none;
  display: none;
  position: absolute;
  min-width: 120px;
  padding: 12px 8px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown events */

.dropdown:hover .dropdown-btn { background-color: #F9F9F9; }

.dropdown-content li:hover { background-color: #F9F9F9; }

.dropdown:hover .dropdown-content { display: block; }

/* End of Dropdown Classes */

/* Margin Classes */

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

/* Padding Classes */

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

/* Flex (box) classes, */

.container {
  display: flex;
}

.container.container-verti {
  flex-direction: row;
}

.container.container-hori {
  flex-direction: column;
}

.container.container-verti-rev {
  flex-direction: row-reverse;
}

.container.container-hori-rev {
  flex-direction: column-reverse;
}

.container.container-wrap {
  flex-wrap: wrap;
}

.container.container-nowrap {
  flex-wrap: nowrap;
}

.container.container-wrap-rev {
  flex-wrap: wrap-reverse;
}

.container.flex-start {
  justify-content: flex-start;
}

.container.flex-end {
  justify-content: flex-end;
}

.container.start {
  justify-content: start;
}

.container.end {
  justify-content: end;
}

.container.left {
  justify-content: left;
}

.container.right {
  justify-content: right;
}

.container.center {
  justify-content: center;
}

.container.space-between {
  justify-content: space-between;
}

.container.space-around {
  justify-content: space-around;
}

.container.space-evenly {
  justify-content: space-evenly;
}

.container.align-items-stretch {
  align-items: stretch;
}

.container.align-items-flex-start {
  align-items: flex-start;
}

.container.align-items-flex-end {
  align-items: flex-end;
}

.container.align-items-center {
  align-items: center;
}

.container.align-items-stretch {
  align-items: stretch;
}

.container.align-items-baseline; {
  align-items: baseline;
}

.container.align-content-start {
  align-content: flex-start;
}

.container.align-content-start {
  align-content: flex-start;
}

.container.align-content-end; {
  align-content: flex-end;
}

.container.align-content-center {
  align-content: center;
}

.container.align-content-between {
  align-content: space-between;
}

.container.align-content-around {
  align-content: space-around;
}

.container.align-content-evenly {
  align-content: space-evenly;
}

.container.align-content-stretch {
  align-content: stretch;
}

.container.gap10 {
  gap: 10px;
}

.container > .item-1 {
  order: 1;
}

.container > .item-2 {
  order: 2;
}

.container > .item-3 {
  order: 3;
}

.container > .item-4 {
  order: 4;
}

.container > .item-5 {
  order: 5;
}

.container > .align-self-end {
  align-self: flex-end;
}
/* End of Flex (box) classes */

/* Flex (grid) classes */

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

/* End of Flex (grid) classes */

/* Floating Classes */
.pull-left {
  float: left;
}

.clear-float {
  clear: both;
}

/* End of Floating Classes */
