/* CSS Variable Section */

/* TODO: Find 'normal' colorscheme for everything here. Dropdown, btn everything */

/* END OF CSS VARIABLE SECTION */

/* Universal Classes */

.mw140 {
  max-width: 140px;
}

.border {
  border: solid;
}

.border-box {
  box-sizing: border-box;
  padding: 20px;
}

.standalone-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

/* END of Universal Classes */

/* Accordion Classes */

.accordion {
  text-decoration: none;
  background-color: #DDD;
  padding: .75rem 0 .75rem 0;
  border: 1px solid #AAA;
  border-radius: .25rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.accordion[open] {
  padding: .75rem 0 0 0;
}

.accordion-panel {
  font-weight: normal;
  padding: .5rem;
  background-color: #EEE;
  border: 1px solid #BBB;
  font-size: 1rem;
}

/* END of Accordion Classes */

/* Button Classes */

.btn {
  white-space: nowrap;
  background-color: white;
  cursor: pointer;
  padding: .5rem .75rem;
  margin: 2px;
  color: white;
  border: .1rem solid transparent;
  border-radius: .25rem;
}

.btn-s {
  padding: .25rem .5rem;
  font-size: .65rem;
  line-height .5;
  border-radius: .3rem;
}
i
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height 1.5;
  border-radius: .3rem;
}

.btn-default {
  background-color: #6C6C6C;
}

.btn-action {
  background-color: #0056B3;
}

.btn-danger {
  background-color: #D32F2F;
}

.btn-safe {
  background-color: #218838;
}

.btn-info {
  background-color: #007BFF;
}

.btn-outline-default {
  color: #6C6C6C;
  border: .1rem solid #6C6C6C;
}

.btn-outline-action {
  color: #0056B3;
  border: .1rem solid #0056B3;
}

.btn-outline-danger {
  color: #D32F2F;
  border: .1rem solid #D32F2F;
}

.btn-outline-safe {
  color: #218838;
  border: .1rem solid #218838;
}

.btn-outline-info {
  color: #007BFF;
  border: .1rem solid #007BFF;
}

.btn:hover.btn-action {
  background-color: #0085DA;
}

/* Dropdown Classes using ordered/unordered lists and items as the dropdown-content */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropdown-btn.dark {
  background-color: #707070;
}

.dropdown-btn.light {
  background-color: #DDDDDD;
}

.dropdown-content {
  width: 100%;
  margin: 0px;
  list-style: none;
  font-size: .9rem;
  display: none;
  position: absolute;
  padding: 0px;
  z-index: 1;
  box-shadow: 0 5px 5px #666666;
}

.dropdown-content.dark {
  background-color: #808080;
}

.dropdown-content.dp-white {
  background-color: #EDEDED;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content.dark a {
  color: white;
}
/* Dropdown events */

.dropdown:hover .dropdown-btn { background-color: #C2C2C2; }

.dropdown-content li:hover { background-color: #C2C2C2; }

.dropdown:hover .dropdown-btn.dark { background-color: #909090; }

.dropdown-content.dark li:hover { background-color: #909090; }

.dropdown:hover .dropdown-btn.dp-white { background-color: #D1D1D1; }

.dropdown-content.dp-white li:hover { background-color: #D1D1D1; }

.dropdown:hover .dropdown-content { display: block; }

/* End of Dropdown Classes */

/* Margin Classes */

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

/* Padding Classes */

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

/* Flex (box) classes, */

.container {
  display: flex;
}

.container.container-verti {
  flex-direction: row;
}

.container.container-hori {
  flex-direction: column;
}

.container.container-verti-rev {
  flex-direction: row-reverse;
}

.container.container-hori-rev {
  flex-direction: column-reverse;
}

.container.container-wrap {
  flex-wrap: wrap;
}

.container.container-nowrap {
  flex-wrap: nowrap;
}

.container.container-wrap-rev {
  flex-wrap: wrap-reverse;
}

.container.flex-start {
  justify-content: flex-start;
}

.container.flex-end {
  justify-content: flex-end;
}

.container.start {
  justify-content: start;
}

.container.end {
  justify-content: end;
}

.container.left {
  justify-content: left;
}

.container.right {
  justify-content: right;
}

.container.center {
  justify-content: center;
}

.container.space-between {
  justify-content: space-between;
}

.container.space-around {
  justify-content: space-around;
}

.container.space-evenly {
  justify-content: space-evenly;
}

.container.align-items-stretch {
  align-items: stretch;
}

.container.align-items-flex-start {
  align-items: flex-start;
}

.container.align-items-flex-end {
  align-items: flex-end;
}

.container.align-items-center {
  align-items: center;
}

.container.align-items-stretch {
  align-items: stretch;
}

.container.align-items-baseline; {
  align-items: baseline;
}

.container.align-content-start {
  align-content: flex-start;
}

.container.align-content-start {
  align-content: flex-start;
}

.container.align-content-end; {
  align-content: flex-end;
}

.container.align-content-center {
  align-content: center;
}

.container.align-content-between {
  align-content: space-between;
}

.container.align-content-around {
  align-content: space-around;
}

.container.align-content-evenly {
  align-content: space-evenly;
}

.container.align-content-stretch {
  align-content: stretch;
}

.container.gap10 {
  gap: 10px;
}

.container > .item-1 {
  order: 1;
}

.container > .item-2 {
  order: 2;
}

.container > .item-3 {
  order: 3;
}

.container > .item-4 {
  order: 4;
}

.container > .item-5 {
  order: 5;
}

.container > .align-self-end {
  align-self: flex-end;
}
/* End of Flex (box) classes */

/* Flex (grid) classes */

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

/* End of Flex (grid) classes */

/* Color classes */

.white {
  color: white;
}

.black {
  color: black;
}

.background-white {
  background-color: #FFFFFF;
}

.background-black {
  background-color: #000000;
}

.background-red {
  background-color: #FF0000;
}

.background-green {
  background-color: #008000;
}

.background-blue {
  background-color: #0000FF;
}

.background-yellow {
  background-color: #FFFF00;
}

.background-cyan {
  background-color: #00FFFF;
}

.background-magenta {
  background-color: #FF00FF;
}

.background-lightgrey {
  background-color: #D3D3D3;
}

.background-grey {
  background-color: #B2B2B2;
}

.background-darkgrey {
  background-color: #808080;
}

.background-aliceblue {
  background-color: #F0F8FF;
}

.background-coral {
  background-color: #FF7F50;
}

.background-lime {
  background-color: #00FF00;
}

.background-orange {
  background-color: #FFA500;
}

.background-pink {
  background-color: #FFC0CB;
}

.background-violent {
  background-color: #EE82EE;
}

.background-beige {
  background-color: #F5F5DC;
}

.background-ivory {
  background-color: #FFFFF0;
}

.background-tan {
  background-color: #D2B48C;
}

.background-navy {
  background-color: #000080;
}

.background-maroon {
  background-color: #800000;
}

.background-forest-green {
  background-color: #228B22;
}

.border-color-grey {
  border-color: #BBB;
}

.border-color-darkgrey {
  border-color: #757574;
}

/* End of color classes (bg) */


/* Floating Classes */

.pull-left {
  float: left;
}

.clear-float {
  clear: both;
}

/* End of Floating Classes */
