<!-- Accordion Using Details/Summary -->

<details class="accordion">
  <summary class="ml10">Test Accordion #1</summary>
  <div class="accordion-panel mt10">
    Test Accordion #1!
  </div>
</details>

<details class="accordion">
  <summary class="ml10">Test Accordion #2</summary>
  <div class="accordion-panel mt10">
    Test Accordion #2!
  </div>
</details>

<details class="accordion">
  <summary class="ml10">Test Accordion #3</summary>
  <div class="accordion-panel mt10">
    Test Accordion #3!
  </div>
</details>
