<!-- Accordion Using Details/Summary -->
<details class="accordion background-grey">
  <summary class="ml10">Light Grey Accordion</summary>
  <div class="accordion-panel mt10 background-lightgrey">
    Light Grey Body
  </div>
</details>

<details class="accordion background-tan">
  <summary class="ml10">Tan Accordion</summary>
  <div class="accordion-panel mt10 background-ivory">
    Ivory Body
  </div>
</details>

<details class="accordion background-darkergrey">
  <summary class="ml10 white">Darker Grey Accordion</summary>
  <div class="accordion-panel mt10 white background-darkgrey border-color-darkgrey">
    Dark Grey Body
  </div>
</details>
