<button class="btn btn-action">
  Badge Div
  <span class="badge-notification">1</span>
</button>

<div class="clear-float mb10"></div>

<span class="badge badge-default">Default</span>
<span class="badge badge-action">Action</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-safe">Safe</span>
<span class="badge badge-info">Info</span>

<div class="clear-float mb10"></div>

<span class="badge-pill badge-default">Default</span>
<span class="badge-pill badge-action">Action</span>
<span class="badge-pill badge-danger">Danger</span>
<span class="badge-pill badge-safe">Safe</span>
<span class="badge-pill badge-info">Info</span>
