<h3>Default Buttons</h3>

<div class="clear-float"></div>
<button class="btn btn-default mr10">
  Default Button
</button>

<button class="btn btn-action mr10">
  Action button
</button>

<button class="btn btn-danger mr10">
  Danger Button
</button>

<button class="btn btn-safe mr10">
  Safe Button
</button>

<button class="btn btn-info mr10">
  Info Button
</button>

<div class="clear-float"></div>
<h3>Outline Buttons</h3>
<div class="clear-float"></div>

<button class="btn btn-outline-default mr10">
  Outline Default Button
</button>

<button class="btn btn-outline-action mr10">
  Outline Action Button
</button>

<button class="btn btn-outline-danger mr10">
  Outline Danger Button
</button>

<button class="btn btn-outline-safe mr10">
  Outline Safe Button
</button>

<button class="btn btn-outline-info mr10">
  Outline Info Button
</button>

<div class="clear-float"></div>
<h3>Large Buttons</h3>
<div class="clear-float"></div>

<button class="btn btn-default mr10 btn-lg">
  Default Button
</button>

<button class="btn btn-action mr10 btn-lg">
  Action button
</button>

<button class="btn btn-danger mr10 btn-lg">
  Danger Button
</button>

<button class="btn btn-safe mr10 btn-lg">
  Safe Button
</button>

<button class="btn btn-info mr10 btn-lg">
  Info Button
</button>

<div class="clear-float"></div>
<h3>Small Buttons</h3>
<div class="clear-float"></div>

<button class="btn btn-default mr10 btn-s">
  Default Button
</button>

<button class="btn btn-action mr10 btn-s">
  Action button
</button>

<button class="btn btn-danger mr10 btn-s">
  Danger Button
</button>

<button class="btn btn-safe mr10 btn-s">
  Safe Button
</button>

<button class="btn btn-info mr10 btn-s">
  Info Button
</button>

