<h3>Card</h3>

<div class="card pull-left mr10" style="width: 16rem;">
  <div class="card-title">Card, With Subtitle</div>
  <div class="card-subtitle">Subtitle Goes here(optional).</div>
  <div class="card-body">
  here is an example of a long essay-like format. I remember in school they taught us 5 everytime. 5 paragraphs, 5 scentences per paragraph and 5 points. To be honest. I hated that.
  </div>
</div>

<div class="card pull-left mr10" style="width: 22rem;">
  <div class="card-title header">Header Card</div>
  <div class="card-body">
    here is an example of a long essay-like format. I remember in school they taught us 5 everytime. 5 paragraphs, 5 scentences per paragraph and 5 points. To be honest. I hated that.
    <div class="clear-float"></div>
    <button class="btn btn-action mt5">Click me go somewhere</button>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-image" style="height: 180px;">width x 180px</div>
  <div class="card-title">Card, With Subtitle</div>
  <div class="card-body">
  here is an example of a long essay-like format. I remember in school they taught us 5 everytime. 5 paragraphs, 5 scentences per paragraph and 5 points. To be honest. I hated that.
  </div>
</div>
