<div class="dropdown">
  <button class="dropdown-btn light p10">Light Dropdown</button>
  <ul class="dropdown-content dp-white" role="menu">
    <li><a href="#">item 1</a></li>
    <li><a href="#">item 2</a></li>
    <li><a href="#">item 3</a></li>
    <li><a href="#">item 4</a></li>
    <li><a href="#">item 5</a></li>
  </ul>
</div>
<div class="dropdown">
  <button class="dropdown-btn p10 background-grey mw140">Grey Dropdown</button>
  <ul class="dropdown-content background-lightgrey" role="menu">
    <li><a href="#">item 1</a></li>
    <li><a href="#">item 2</a></li>
    <li><a href="#">item 3</a></li>
    <li><a href="#">item 4</a></li>
    <li><a href="#">item 5</a></li>
  </ul>
</div>
<div class="dropdown">
  <button class="dropdown-btn dark p10 white">Dark Dropdown</button>
  <ul class="dropdown-content dark white" role="menu">
    <li><a href="#">item 1</a></li>
    <li><a href="#">item 2</a></li>
    <li><a href="#">item 3</a></li>
    <li><a href="#">item 4</a></li>
    <li><a href="#">item 5</a></li>
  </ul>
</div>
