<link rel="stylesheet" href="/home/cecil/Documents/github-projects/Cecil-Web-Components/cecil.css"
<div> Hero Content </div>
<div class="clear-float"></div>


<div class="flex-grid mb10">
  <div class="col border border-box">Box 1</div>
  <div class="col border border-box">Box 2</div>
  <div class="col border border-box">Box 3</div>
</div>

<div class="flex-grid mb10">
  <div class="col border border-box">Box 1</div>
  <div class="col border border-box">Box 2</div>
  <div class="col border border-box">Box 3</div>
  <div class="col border border-box">Box 4</div>
  <div class="col border border-box">Box 5</div>
</div>

<div class="flex-grid-thirds">
  <div class="col border border-box">Box 1</div>
  <div class="col border border-box">Box 2</div>
  <div class="col border border-box">Box 3</div>
</div>
